.header{
  height: 33px;
  position: relative;
  margin: 0 auto;
  background: #01aeb2;
}

.small-wrap{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo{
  position: absolute;
  top: 10px;
  left: 0;
}

.util{
  position: relative;
  width: 100%;
}

.util-language{
  float: left;
}

.util-item{
  float: left;
  padding: 10px 9px;
  border-right: 1px solid white;
  margin: auto 0;
}

.util-link{
  display: block;
  width: 100px;
  height: 12px;
  color: white;
  line-height: 10px;
  text-align: center;
}

.cs{
  position: absolute;
  top: 10px;
  right: 80px;
}

.cs:after{
  content: "";
  display: block;
  clear: both;
}

.cs-item{
  float: left;
  font-size: 11px;
  margin-left: 20px;
}