
table tr td.vt {vertical-align:top;} 
table tr th.tl, table tr td.tl {padding-left:16px !important; padding-right:16px !important; text-align:left !important;} 
table tr td.tr {padding-left:16px !important; padding-right:16px !important; text-align:right;} 
table tr td.tr input[type="text"], table tr td.money input[type="password"] {padding-right:16px !important; text-align:right;}
table tr td.tc {padding-left:0 !important; padding-right:0 !important; text-align:center !important;} 

table tr.on th,
table tr.on td {background:#f7f7f7;}
table tr.on td.subject {font-weight:bold;}
table tr .notice {display:inline-block; width:50px; height:22px; margin-top:5px; background:#4384c4; color:#fff; padding-top:2px;}
.ie7 table tr .notice {display:block; margin-top:0;}


/* table01 */
.table01 {margin-bottom:40px; border-top:2px solid #5a4f4a; border-bottom:1px solid #acacac;}
.table01 table {width:100%; border-right:1px solid #d8d8d8; border-collapse:collapse;}
.table01 table tr th {padding:11px 0 12px; height:19px; text-align:center; line-height:160%; vertical-align:middle; border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8;}
.table01 table tr td {height:19px; line-height:160%; vertical-align:middle; color:#4d4d4d; border:1px solid #d8d8d8; border-width:1px 0 0 1px;}
.table01 table thead tr th {color:#333; border-top:none; background:#ebebeb;}
.table01 table tbody tr th.noStrong {font-weight:normal}

.table01 table thead tr.depth th {border-top:1px solid #acacac;}
.table01 table thead tr th.rl{border-right:2px solid #acacac;}
.table01 table tfoot tr th {color:#333; background:#f9f9f9;}
.table01 table tfoot tr td {padding:10px 16px 13px 0; font-weight:bold; text-align:right; background:#f9f9f9;}
.table01 table tbody tr th {color:#666; border-left:1px solid #d8d8d8;}
.table01 table tbody tr td {padding:10px 0 13px; text-align:center; color:#4d4d4d;}
.table01 table tbody tr td.lf{text-align:left; padding:13px;}
.table01 table tbody tr td.rl{border-right:2px solid #acacac;}
.table01 table tbody tr td.bgb{background:#f0f6f6;}
.table01 table tbody tr th.bgb{background:#f0f6f6;}
.table01 table tbody tr:first-child th, .table01 table tbody tr:first-child td {border-top:1px solid #9b928d;} 

p + .table01, p + .table02 {margin-top:14px;}

/* table02 */
.table02 {margin-bottom:40px; border-top:1px solid #5a4f4a; border-bottom:1px solid #acacac;}
.table02 table {width:100%; border-right:1px solid #d8d8d8; border-collapse:collapse;}
.table02 table tr th {padding:11px 0 12px; height:19px; text-align:center; line-height:160%; vertical-align:middle; border:1px solid #d8d8d8; border-width:1px 0 0 1px;}
.table02 table tr td {height:19px; line-height:160%; vertical-align:middle; color:#4d4d4d; border:1px solid #d8d8d8; border-width:1px 0 0 1px;}
.table02 table thead tr th {color:#333; border-top:none; background:#ebebeb;}
.table02 table thead tr.depth th {border-top:1px solid #acacac;}
.table02 table tfoot tr th {color:#333; background:#f9f9f9;}
.table02 table tfoot tr td {padding:10px 16px 13px 0; font-weight:bold; text-align:right; background:#f9f9f9;}
.table02 table tbody tr th {color:#666;}
.table02 table tbody tr th.noStrong {font-weight:normal}
.table02 table tbody tr td {padding:10px 16px 13px; text-align:left;}
.table02 table tbody tr td.cen {padding:10px 16px 13px; text-align:center;}
.table02 table tbody tr:first-child th, .table02 table tbody tr:first-child td {border-top:1px solid #9b928d;}
 table tfoot tr th.type02 {padding-left:16px !important; text-align:left; background:#fff;} 
 table tfoot tr td.type02 {text-align:right; border-left:none; background:#fff;}
 table tfoot tr td.type02 em {display:inline-block; padding-left:20px; line-height:110%; color:#c8212f; border-left:1px dashed #cdcdcd;}
.table01 table tbody tr.tFoot th, .table02 table tbody tr.tFoot th {padding-left:16px; font-weight:bold; text-align:left; color:#333; background:#f9f9f9;}  
.table01 table tbody tr.tFoot td, .table02 table tbody tr.tFoot td {padding-right:16px; font-weight:bold; text-align:right; background:#f9f9f9;}
.table01 table tfoot tr.tc th, .table01 table tfoot tr.tc th,
.table01 table tfoot tr.tc td, .table02 table tfoot tr.tc td {text-align:center;}

.table03 {overflow:hidden; margin-bottom:30px; border-top:1px solid #d8d8d8;}
.table03 .tit {overflow:hidden; line-height:150%; min-height:20px; padding:11px 0 11px 20px; border-bottom:1px solid #d8d8d8; font-weight:bold; color:#333;}
.table03 .movie {position:relative; overflow:hidden; height:299px; margin-top:30px; padding-bottom:30px;}
.table03 .movie .left {position:absolute; left:0; float:left; width:399px;}
.table03 .movie .left > div {width:399px; height:299px;}
.table03 .movie .left > div embed {width:399px !important; height:299px  !important;}
.table03 .movie .right {float:left; width:100%;}
.table03 .movie .right > div {overflow:hidden; overflow-y:scroll; line-height:170%; height:261px; margin-left:434px; padding:16px 20px 20px; border:1px solid #d8d8d8; color:#4d4d4d;}
.table03 + .boardView {margin-top:-30px;}
.table03 + .paging {margin-top:-3px;}

.table04{margin-left:-1px;width:100%;border-collapse:collapse;border-spacing:0;border-top:2px solid #d44a4c;border-bottom:1px solid #e5e5e5}
.table04 thead th{padding:10px;text-align:center;font-size:12px;color:#333;font-weight:bold;border-left:1px solid #e5e5e5;background:#f7f7f7}
.table04 tbody th{padding:10px;text-align:center;font-size:12px;color:#333;font-weight:bold;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;background:#f7f7f7}
.table04 tbody td{padding:10px;text-align:center;font-size:12px;color:#666;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.table04 tbody .left{text-align:left}
.table04 p{font-size:12px}
.table04 b{font-weight:bold}

.table05 {margin-bottom:40px; border-top:2px solid #5a4f4a; border-bottom:1px solid #acacac;}
.table05 table {width:100%; border-right:1px solid #d8d8d8;}
.table05 table tbody tr th{ vertical-align:middle; color:#333; background:#ebebeb; text-align:center; border-left:1px solid #d8d8d8;border-top:1px solid #d8d8d8;}
.table05 table tr td.tRow {font-weight:bold; text-align:center; line-height:160%; color:#333; background:#ebebeb;}
.table05 table tr td {padding:11px 16px 13px; height:18px; text-align:left; line-height:160%; vertical-align:middle; color:#4d4d4d; border:1px solid #d8d8d8; border-width:1px 0 0 1px;}
.table05 table tr:first-child th,
.table05 table tr:first-child td {border-top:none;}
.table05 table tr.on th,
.table05 table tr.on td {font-weight:bold; background:#ebebeb;}
.table05 + h4.dot {margin-top:-20px;}
.liBulDash > li p.liBulDotS + .table05{margin-top:9px;}

/* table06 */
.table06 {margin-bottom:40px; border-top:1px solid #5a4f4a; border-bottom:1px solid #acacac;}
.table06 table {width:100%; border-right:1px solid #d8d8d8;}
.table06 table tbody tr th{ vertical-align:middle; color:#333; background:#ebebeb; text-align:center; border-left:1px solid #d8d8d8;border-top:1px solid #d8d8d8;}
.table06 table tr td.tRow {font-weight:bold; text-align:center; line-height:160%; color:#333; background:#ebebeb;}
.table06 table tr td {padding:11px 16px 13px; height:18px; text-align:left; line-height:160%; vertical-align:middle; color:#4d4d4d; border:1px solid #d8d8d8; border-width:1px 0 0 1px;}
.table06 table tr:first-child th,
.table06 table tr:first-child td {border-top:none;}
.table06 table tr.on th,
.table06 table tr.on td {font-weight:bold; background:#ebebeb;}
.table06 + h4.dot {margin-top:-20px;}
.liBulDash > li p.liBulDotS + .table06{margin-top:9px;}


/* 블릿 */
table tr td > p {color:#4d4d4d !important;}
table tr td .liBulDash {margin:0;}
table tr td .liBulDash > li {margin-top:4px; margin-bottom:0; padding-left:10px; line-height:160%; color:#4d4d4d; background:url('/dbimage/main/WebData/homeimg/sub/bul_bar.gif') 2px 10px no-repeat;}
table tr td .liBulDash > li:first-child {margin-top:0;}
table tr td .liBulDash > li > p {color:#717171;}

/* 일반 게시판 리스트*/
.boardList {margin-bottom:30px; border-top:2px solid #585858; border-bottom:1px solid #a0a0a0; background:#fff;}
.boardList table {width:100%;}
.boardList table thead th {line-height:130%; padding:12px 0 14px; border-bottom:1px solid #a0a0a0; color:#333; background:url('/dbimage/main/WebData/homeimg/sub/bg_boardSec.gif') no-repeat 0 50%; vertical-align:middle;}
.boardList table thead th:first-child {background-image:none;}
.boardList table tbody td {line-height:160%; min-height:22px; height:16px; padding:10px 0; border-top:1px solid #d8d8d8; color:#4d4d4d; vertical-align:middle; text-align:center;}
.boardList table tbody td.subject {padding-left:20px; padding-right:5px; text-align:left;}
.boardList table tbody td.subject span {margin-left:5px; color:#3514af;}
.boardList .noDate {border-top:1px solid #d8d8d8;}
.boardList + .noDate {border-top:none;}
.boardList + .btnArea.sub2, .tableScroll + .btnArea.sub2 {}

/* 갤러리 */
.imgList {overflow:hidden; padding-top:40px; border-top:1px solid #a0a0a0;}
.imgList ul {overflow:hidden;}
.imgList li {overflow:hidden; float:left; width:262px; margin-left:10px;}
.imgList li:first-child {margin-left:0;}
.imgList li > a {display:block; width:262px; height:153px; margin-bottom:10px;}
.imgList li > a img {width:100%; height:153px;}
.imgList li dl {overflow:hidden; line-height:160%;}
.imgList li dl dt {overflow:hidden; height:17px; margin-bottom:4px; font-weight:bold;}
.imgList li dl dt a {display:inline-block; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis;}
.imgList li dl dd {float:left; padding:0 8px; background:url('/dbimage/main/WebData/homeimg/sub/bg_lineY.gif') no-repeat 0 50%;}
.imgList li dl dd.date {padding-left:0; background:none;}

.imgList02 {overflow:hidden; border-top:0px solid #585858; border-bottom:2px solid #a0a0a0; background:#fff;}
.imgList02 ul {overflow:hidden;}
.imgList02 li {overflow:hidden; float:left; width:262px; margin-left:10px; margin-bottom:25px; }
.imgList02 li.first {margin-left:0;}
.imgList02 li > a {display:block; width:262px; height:175px; margin-bottom:12px;}
.imgList02 li > a img {width:100%; height:175px; border:1px solid #eaeaea; padding:2px}
.imgList02 li dl {overflow:hidden; line-height:160%;}
.imgList02 li dl dt {overflow:hidden; height:17px; margin-bottom:4px; font-weight:bold;}
.imgList02 li dl dt a {display:inline-block; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis;}
.imgList02 li dl dd {float:left; padding:0 8px; background:url('/dbimage/main/WebData/homeimg/sub/bg_lineY.gif') no-repeat 0 50%;}
.imgList02 li dl dd.date {padding-left:0; background:none;}


/* boardView */
.boardView {overflow:hidden; margin-bottom:20px; border-top:0px solid #585858;}
.boardView > ul {overflow:hidden; border-top:1px solid #585858;}
.boardView > ul:first-child {border-bottom:1px solid #a0a0a0;}
.boardView > ul > li {float:left; border-top:1px solid #d8d8d8;}
.boardView > ul > li:first-child {border-top:none;}
.boardView > ul > li > strong {display:block; float:left; background:url('/dbimage/main/WebData/homeimg/sub/bg_boardSec.gif') no-repeat 100% 50%; color:#333; vertical-align:middle;}
.boardView > ul > li > strong > span {display:inline-block; line-height:150%; min-height:20px; padding:11px 0 11px 20px;}
.boardView > ul > li > span {display:block; float:right;}
.boardView > ul > li > span > span {display:inline-block; line-height:150%; min-height:20px; padding:11px 0 11px 20px; vertical-align:middle;}
.boardView > ul > li.tit {width:100%;}
.boardView > ul > li.tit > strong {width:10.5%;}
.boardView > ul > li.tit > span {width:89.5%;}
.boardView ul.file {border-top:none; border-bottom:1px solid #a0a0a0;}
.boardView ul.file li {overflow:hidden; padding:15px 0;}
.boardView ul.file li > strong > span {padding-top:0; padding-bottom:0;}
.boardView ul.file li > span > span {padding-top:0; padding-bottom:0;}
.boardView ul.file li > span em {display:block; margin-top:6px;}
.boardView ul.file li > span em:first-child {margin-top:0;}
.boardView ul.file li > span em a {text-decoration:underline;}
.boardView ul.reply {border-bottom:1px solid #585858 !important;}
.boardView ul.btn {border-bottom:1px solid #a0a0a0;}
.boardView .textArea {overflow:hidden; margin-bottom:0; padding-right:2px;}
.boardView .textArea .textarea {height:55px;}
.boardView .cmt {line-height:170%; margin-top:5px; font-size:11px; color:#727272;}
.boardView .title {position:relative; overflow:hidden; min-height:20px; margin-top:-1px !important; padding:13px 0 9px 20px; background:#efeeee;}
.boardView .title span {display:inline-block; padding-left:12px; background:url('/dbimage/main/WebData/homeimg/sub/bul_re.png') no-repeat 0 30%; font-weight:bold; color:#c53e49;}
.boardView .cont {line-height:170%; padding:45px 20px; border-bottom:1px solid #d8d8d8;} /* board_view Content */
.boardView .cont p {line-height:2.5em !important;}
.boardView .cont .img {margin-top:20px; text-align:center; margin-left:-20px; margin-right:-20px;}
.boardView .cont .img:first-child {margin-top:5px;}
.boardView .cont img {max-width:910px; height:100%;}
.boardView .contReply {line-height:170%; padding:28px 20px 25px; border-bottom:1px solid #a0a0a0;}
.boardView .contReply + .contPoll {margin-top:-1px;}

.boardView.child02 li.part {width:50%;}
.boardView.child02 li.part > strong {width:21%;}
.boardView.child02 li.part > span {width:79%;}
.boardView.child02 li.date {width:50%;}
.boardView.child02 li.date > strong {width:21%;}
.boardView.child02 li.date > span {width:79%;}

.boardView.wide li.tit > strong {width:13%; padding-right:1%;}
.boardView.wide li.tit > span {width:85.9%;}
.boardView.wide li.part > strong {width:27%; padding-right:1%;}
.boardView.wide li.part > span {width:72%;}
.boardView.wide li.date > strong {width:27%; padding-right:1%;}
.boardView.wide li.date > span {width:72%;}

.boardView + .table03 {margin-top:-20px; border-top:none;}

/* 이전글다음글 */
.boardNext {overflow:hidden; margin-bottom:30px; border-top:1px solid #585858; border-bottom:1px solid #a0a0a0;}
.boardNext.comment {border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.boardNext ul {overflow:hidden;}
.boardNext li {float:left; width:100%; border-top:1px solid #d8d8d8;}
.boardNext li:first-child {border-top:none;}
.boardNext li > strong {display:block; float:left; width:10.5%; background:url('/dbimage/main/WebData/homeimg/sub/bg_boardSec.gif') no-repeat 100% 50%; color:#333;}
.boardNext li > strong > span {display:inline-block; line-height:150%; min-height:20px; padding:11px 16px 11px 20px; vertical-align:middle;}
.boardNext li > span {display:block; float:right; width:89.5%;}
.boardNext li > span > span {display:inline-block; line-height:150%; min-height:20px; padding:11px 0 11px 20px; vertical-align:middle;}
.boardNext li > span > span > a > span {color:#3514af; margin-left:5px}
.boardNext li > span > span.cmt {display:block;}
.boardNext li > span > span.cmt .txt {float:left;}
.boardNext li > span > span.cmt .date {float:right;}
.boardNext li > span > span.cmt .date .btnWrt {margin-left:12px;}
.boardNext li.prev > strong > span {background:url('/dbimage/main/WebData/homeimg/sub/bul_prevTxt.gif') no-repeat 100% 50%;}
.boardNext li.next > strong > span {background:url('/dbimage/main/WebData/homeimg/sub/bul_nextTxt.gif') no-repeat 100% 50%;}


/* 글쓰기 */
.data_table{width:100%;min-width:300px;margin-bottom:40px;border-top:1px solid #837266}
.data_table th{padding:24px 0px 24px 20px;border-bottom:1px solid #c9c9c9;background-color:#f4f4f4;color:#3e3e3e;font-size:13px;font-weight:bold;text-align:left;vertical-align:top;}
.data_table td{padding:10px 0px 10px 15px;border-bottom:1px solid #c9c9c9;color:#555555;font-size:13px}
.data_table td .notice{display:block;margin-top:10px;}
.data_table input[type="text"]{-webkit-appearance:none;border-radius:0;padding:5px 5px 5px 5px;border:1px solid #cccccc;color:#555555;}
.data_table select{-webkit-appearance:none;border-radius:0;padding:5px 0 5px 5px;background:url(/images/hmp/ko/common/btn_select.gif) no-repeat 96% 50%;border:1px solid #d0d0d0;color:#555555}
.data_table .calendar_go{display:block;float:left;margin:10px;}
.data_table .input_visit_div{width:200px;}
.data_table .input_visit_nm{float:left;width:172px}
.data_table .input_day{width:200px}
.data_table .input_nation{width:110px}
.data_table .input_age_group{width:200px}
.data_table .td_time{position:relative;height:61px;vertical-align:top}
.data_table .td_time .txt_alert{position:absolute;top:55px}
.data_table .people_list01 li{float:left}
.data_table .people_list02{margin:10px 0 10px 0;}
.data_table .people_list02 li{float:left}
.data_table .people_list03{width:100%;padding-bottom:4px;#padding-bottom:1px;}
.data_table .people_list03 li{float:left}
.data_table .people label{display:inline-block;width:50px;}
.data_table .people input{width:51px;margin:0px 5px 0px 4px;text-align:left}
.data_table .people02,
.data_table .people04,
.data_table .people06{margin:0 10px 0 30px}
.data_table .people06 select{width:138px}
.data_table .people07{margin:10px 0 0 0;}
.data_table .people02 label,
.data_table .people04 label,
.data_table .people06 label{width:72px;}
.data_table .people06 input{width:178px}
.data_table .people07{width:100%}
.data_table .td_phone{position:relative;height:61px;vertical-align:top}
.data_table .td_phone .txt_alert{position:absolute;top:55px}
.data_table .visit_nm_confirm{width:382px}
.data_table .input_hp,
.data_table .input_email{width:271px}
.data_table .td_visit_nm .alert,
.data_table .check_sms,
.data_table .check_mail{margin-left:16px}
.data_table_btn_area{margin-top:15px;text-align:center}
.btn_modify,
.btn_esc{margin-right:10px}

/* boardSearch */
.boardSearch {overflow:hidden; min-height:27px; margin-bottom:15px;}
.boardSearch .result {float:left; line-height:240%; margin-right:5px;}
.boardSearch .result strong {color:#bd2f3c;}
.boardSearch .measure {float:right; line-height:240%; margin-right:5px;}
.boardSearch .search {float:right;}
.boardSearch .search label {display:inline-block; margin:0 20px; color:#333;}
.boardSearch .search select {height:27px; margin-right:5px; padding:4px 5px; vertical-align:top;}
.boardSearch .search .inText {position:relative; left:0; display:inline-block; width:250px; height:22px; line-height:1; padding-top:3px; border:1px solid #e5e5e5;}
.boardSearch .search .inText input[type="text"] {width:180px; padding:0; border:0; height:16px; line-height:16px; vertical-align:baseline;}
.ie10 .boardSearch .search .inText input[type="text"] {width:180px; padding:0; border:0;}
.boardSearch .search .inText .btnSch {position:absolute; top:-1px; right:-1px;}
.ie7 .boardSearch .search .inText input[type="text"] {text-indent:10px;}

.boardTb {overflow:hidden; margin-bottom:30px; border-top:2px solid #585858; border-bottom:1px solid #a0a0a0;}
.boardTb ul {overflow:hidden;}
.boardTb li {position:relative; width:100%; border-top:1px solid #d8d8d8;}
.boardTb li > p {overflow:hidden; width:100%;}
.boardTb li:first-child {border-top:none;}
.boardTb li > p > .num {display:block; float:left; width:7%; line-height:150%; min-height:20px; padding:10px 0; background:url('../../image/common/bg/bg_boardSec.gif') no-repeat 100% 50%; color:#333; vertical-align:middle;}
.boardTb li > p > .num > span {display:inline-block; padding-left:17px;}
.boardTb li > p > .txt {display:block; float:left; width:93%;}
.boardTb li > p > .txt > span {display:block; line-height:150%; min-height:20px; margin-right:45px; padding:10px 0 10px 20px; vertical-align:middle;}
.boardTb li > p > .txt > span .sTit {display:inline-block; padding-left:13px; background:url('../../image/common/icon/icon_q.gif') no-repeat 0 4px; color:#4d4d4d;}
.boardTb li > p > .txt > span > a {display:block;}
.boardTb li > p > .txt > span > a:hover .sTit {font-weight:bold; color:#333;}
.boardTb li > p > .txt > span button {position:absolute; top:0; right:4px; display:block; width:42px; height:42px; background:url('../../image/common/btn/btn_tb_open.gif') no-repeat 50% 50%; text-indent:-9999em;}
.boardTb li > div { overflow:hidden; line-height:170%; padding:18px 20px 25px; border-top:1px solid #d8d8d8;}
.boardTb li > div .sTit {display:inline-block; padding-left:25px; background:url('../../image/common/icon/icon_a.gif') no-repeat 0 2px;}
.boardTb li > div .sTit p {letter-spacing:0 !important;}
.boardTb li .sTit b {color:#c8212f;}
.boardTb li.on > p > .num > span,
.boardTb li.on > p > .txt > span .sTit {font-weight:bold;}
.boardTb li.on > p > .txt > span button {background-image:url('../../image/common/btn/btn_tb_close.gif');}
.boardTb li.on > div {display:block;}
.boardTb li.noData {padding:30px 0; text-align:center;}
.ie7 .boardTb li > p > .txt {width:92.8%;}

.boardTb.case02 li > p > .txt {position:relative;}
.boardTb.case02 li > p > .txt > span .icon {position:absolute; width:125px;}
.boardTb.case02 li > p > .txt > span .sTit {margin-left:150px;}

.wborderbox {overflow:hidden; margin-bottom:20px; padding:20px 30px; border:1px solid #ddd; } 
.wborderbox > fieldset {text-align:center;}
.wborderbox > fieldset input[type="text"] {width:250px}
.wborderbox > fieldset input[type="button"] {height:22px}
.wborderbox > p {float:left; margin:5px 0 0;}

/* 하단검색 */
.tblSearch { text-align:center; margin:43px 0 20px;}
.tblSearch fieldset { position:relative; width:387px; margin:0 auto;}
.tblSearch .schText { background:url(/dbimage/main/WebData/homeimg/sub/bottom_schtext.gif) no-repeat 15px center; padding:6px 0 5px 90px; width:320px; height:31px; border:1px solid #999999;}
.btnSearch { position:absolute; border:0; background:url(/dbimage/main/WebData/homeimg/sub/bottom_schbtn.gif) no-repeat; widtH:31px; height:31px; top:0px; right:1px; text-indent:-9999px;}

/* 상단검색 */
.search_area{text-align:center; width:100%}
.search_area select{width:93px;height:40px;#height:auto;padding:10px 0 9px 0;line-height:32px;border:2px solid #d3d3d3;font-family:"Malgun Gothic","맑은 고딕";color:#555555}
.search_area .placeholder_guidetext{padding-left:10px !important;}
.search_area .searchword{width:307px;height:40px;margin:0 1px;padding:10px 0 10px 10px;color:#696969;border:2px solid #d3d3d3;vertical-align:top;#vertical-align:middle;font-family:"Malgun Gothic","맑은 고딕";color:#555555}
.search_area .submit{display:inline-block;padding:12px 14px 14px 14px;line-height:13px;background-color:#252d33;color:#ffffff !important;font-size:13px !important;font-weight:normal;text-align:center;border:0;white-space:nowrap;vertical-align:top;text-decoration:none !important;font-weight:bold}

.yearInfo {position:relative; overflow:hidden; padding:20px 30px; margin-bottom:20px; border:1px solid #e2e2e2; background:#fcfcfc}
.yearInfo fieldset label {display:inline-block; font-size:13px; margin-right:10px}
.yearInfo fieldset select {padding:4px; width:182px;}
.yearInfo fieldset > .subText {margin-left:10px; color:#c8212f;}
.ie7 .yearInfo fieldset select {height:28px; line-height:28px;}

.yearInfo.type01 select {padding: 5px 5px 3px; width:200px; border:1px solid #c1c2c2; margin-right:2px} 
.yearInfo.type01 input[type="text"] {padding:5px 0 5px; border:1px solid #c1c2c2;}


/* qna_list */
.qna_list_wrapper{width:auto;margin:30px 0;}
.qna_list_wrapper li{margin-bottom:5px;}

.qna_content_question,
.qna_content_answer{position:relative;width:auto;}
.qna_content_question{height:60px;border: 1px solid #cccccc;}
.question_head{position: absolute;left:0;top:0px;padding:20px;background:#147395;*top:0px}
.question_head span{font-size: 16px;font-weight: bold;color:#ffffff}
.question_body{display:block;width:auto;}
.question_body a{display:block;min-width:160px;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;height:60px;padding:21px 42px 0 80px;background:url(/dbimage/main/WebData/homeimg/sub/qna_list_tail_off.gif) no-repeat right 50%;font-size: 15px;color:#222222}
.question_body a strong{font-weight: bold}
.question_body a span{font-weight: bold}
.qna_content_answer{ display:none;}
.answer_head{position: absolute;left:0;top:0;padding:31px 42px 0 21px;}
.answer_head span{font-size: 16px;font-weight: bold;color:#cc0000}
.answer_body{display:block;padding:28px 28px 28px 78px; font-size:13px; font-weight:normal; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;background:#f5f5f5;*margin-top:-5px;line-height:21px}

.on .question_head{background:#cc0000}
.on .qna_content_answer{display:block;}
.on .question_body a{background:url(/dbimage/main/WebData/homeimg/sub/qna_list_tail_on.gif) no-repeat right 50%;}
.m_view{ display:none;}

/* 웹진형 */
.newsList { border-bottom:2px solid #4c4c4c;  }
.newsList li{ padding: 29px 15px 28px 15px; border-top:1px solid #ccc; position:relative; min-height:200px; }
.newsList li:first-child { border-top:none;}
.newsList li.inimg { padding-left:255px;}
.newsList li .img { position:absolute; left:15px; top:29px;}
.newsList li .img img { width:214px; height:133px; border:1px solid #cbcbcb;}
.newsList li .title { font-size:16px; font-weight:bold; color:#3b3b3b; line-height:20px; vertical-align:middle; margin-bottom:20px; }
.newsList li .title a {color:#3b3b3b; vertical-align:middle; overflow:hidden; widtH:640px; text-overflow:ellipsis; white-space:nowrap; display:inline-block; }
.newsList li .title a:hover { color:#0051bb; text-decoration:underline;}
.newsList li .title img { vertical-align:middle; margin-right:7px; }
.newsList li .text a{ font-size:13px; color:#5a5b54; line-height:20px;}
.newsList li .text a:hover {text-decoration:underline;}
.newsList li .info { margin-top:13px; font-size:13px; color:#8d8d8c; }
.newsList li .info span { display:inline-block; margin-left:13px; padding-left:13px; border-left:1px solid #cfcfcf; }
.newsList li .info span:first-child { margin-left:0; padding-left:0; border-left:none; }
.newsView .title { font-size:17px; color:#3b3b3b; font-weight:bold; padding:18px 12px; background-color:#f8f8f8; }
.newsView .info { padding:15px 14px 13px; border-bottom:1px solid #e5e5e5; font-size:14px; color:#8d8d8c; }
.newsView .info span { display:inline-block; margin-left:15px; padding-left:15px; border-left:1px solid #cfcfcf; }
.newsView .info span:first-child { margin-left:0; padding-left:0; border-left:none; }
.newsView .detailView { padding:28px 12px 65px; font-size:14px; line-height:23px; border-bottom:2px solid #4c4c4c;} 
.newsView .detailView img { max-width:940px;}


/* 행사달력 */ 
.reserve_reg_area{width:100%;margin:0 auto 40px auto;}
.calendar_area{position:relative;float:left;width:48%;padding:0 0 30px 0;}
.reserve_data_area{width:48%;float:right}
.reserve_data_area strong{font-weight:bold}
.reserve_reg_area .hide_txt{display:inline-block;width:0;opacity:0;filter:alpha(opacity=0)}
.cal_info{position:absolute;bottom:0;left:0;width:100%;}
.cal_info span{margin-right:15px;}
.cal_info span img{display:inline-block;margin:-3px 5px 0 0;vertical-align:middle;}
.cal_nav{width:100%;padding:11px 0 7px 0;background:#837266;text-align:center;}
.cal_nav *{vertical-align:top;}
.cal_nav .btn_prev{display:inline-block;padding:5px 10px 5px 10px;}
.cal_nav .btn_next{display:inline-block;padding:5px 10px 5px 10px;}
.cal_nav .date{display:inline-block;margin:1px 4px 0 4px;#margin-top:-3px;color:#ffffff;font-size:17px;font-weight:bold;#line-height:25px;}
.cal_data{width:100%;}
.tbl_cal_data{width:100%;border-bottom:1px solid #c9c9c9}
.tbl_cal_data th{height:40px;border-right:1px solid #c9c9c9;color:#222222;font-weight:bold;font-size:13px;background:#f5f4f3;text-align:center}
.tbl_cal_data th.sunday{color:#cc0000;}
.tbl_cal_data td{border-right:1px solid #c9c9c9;border-top:1px solid #c9c9c9}
.tbl_cal_data td .cal_item{display:block;height:44px;padding:3px;color:#222222;font-size:13px;font-weight:bold;}
.tbl_cal_data td .cal_item:active,
.tbl_cal_data td .cal_item:focus,
.tbl_cal_data td .cal_item:hover{color:#222222;font-size:13px;font-weight:bold;text-decoration:underline;}
.tbl_cal_data td .cal_item:visited{text-decoration:none;}
.tbl_cal_data td.selected .cal_item{color:#ffffff;background:#cc0000 url() no-repeat 90% 5px;text-decoration:underline;}
.reserve_reg_area .hide_txt{display:inline-block;width:0;opacity:0;filter:alpha(opacity=0)}
.tbl_cal_data td.full .cal_item{color:#afb0af;background:url() repeat;text-decoration:none;}
.tbl_cal_data td.off .cal_item{color:#ab0000;background:#f3d7d7 url() no-repeat 90% 5px;text-decoration:none;}
.tbl_cal_data td.disabled .cal_item{background:#eaebea;text-decoration:none;}
.tbl_cal_data .last_child{border-right:0;}

.cal_nav01{width:100%;padding:11px 0 7px 0;background:#718fb6;text-align:center;}
.cal_nav01 *{vertical-align:top;}
.cal_nav01 .btn_prev{display:inline-block;padding:5px 10px 5px 10px;}
.cal_nav01 .btn_next{display:inline-block;padding:5px 10px 5px 10px;}
.cal_nav01 .date{display:inline-block;margin:1px 4px 0 4px;#margin-top:-3px;color:#ffffff;font-size:17px;font-weight:bold;#line-height:25px;}

/* 간행물 */
.thumblist_type1	{width:100%; border-bottom:1px solid #404040; overflow:hidden;}
.thumblist_type1 ul	 {width:100%; display:inline-block; vertical-align:top; margin:0px 0 0;}
.thumblist_type1 ul li	{width:33%; padding:30px 0 0 2%; float:left; border-top:1px solid #e4e4e4; margin:-1px 0 0; overflow:hidden; height:431px;}
.thumblist_type1 ul li.n1	{padding-left:0;}
.thumblist_type1 ul li .thumb	{width:100%; position:relative; overflow:hidden; height:280px; border:0px solid #e4e4e4;}
.thumblist_type1 ul li .thumb img	{}
.thumblist_type1 ul li .thumb .vod	{position:absolute; top:50%; left:50%; background:url("") no-repeat 0 0; width:56px; height:56px; margin:-28px 0 0 -28px;}
.thumblist_type1 ul li .summary	{width:100%; height:145px; position:relative;}
.thumblist_type1 ul li .summary input	{margin:10px 0 5px; display:inline-block; width:19px; height:19px;}
.thumblist_type1 ul li .summary a	{display:block; margin:6px 0 10px;}
.thumblist_type1 ul li .summary a:first-child	{font-size:18px; color:#010101; line-height:22px; max-height:44px; overflow:hidden; margin:17px 0 19px;}
.thumblist_type1 ul li .summary .date	{font-size:11px; color:#727272;}
.thumblist_type1 ul li .summary label	 {position:absolute; bottom:30px; right:0;}
.thumblist_type1 ul li.no_data	{text-align:center; width:100%; padding:60px 0 33px; font-size:18px; color:#101010;}
.thumblist_type1 ul#movie_list_ul li .thumb	{height:210px;}
.thumblist_type1 ul#movie_list_ul li .thumb a	{display:block;}
.thumblist_type1 ul#movie_list_ul li .thumb img	{width:100%; height:100%;}

.vodview_type1	{width:100%; overflow:hidden;}
.vodview_type1 .board_header	 {}
.vodview_type1 .board_header em	{font-size:30px; color:#101010;}
.vodview_type1 .board_header .datalist	{padding:12px 0 0;}
.vodview_type1 .board_header .datalist > li	{font-size:10px; color:#727272; margin-right:16px; display:inline;}
.vodview_type1 .board_header .datalist > li strong	{color:#404040;}
.vodview_type1 .board_body	 {padding:19px 0 20px; line-height:18px; text-align:center;}
.vodview_type1 .board_body > *	{width:100%;}


/* paging */
.pagingMb {display:none;} 
.paging {overflow:hidden; height:28px; margin-bottom:30px; text-align:center;}
.paging .num {display:inline-block; vertical-align:middle;} 
.paging .num a, .paging strong {display:inline-block; width:28px; height:28px; line-height:28px; margin:0 -1px; background:#f1f1f1; font-weight:bold; color:#4d4d4d; text-align:center;} 
.paging .num a:hover,.paging strong.on {background:#a1a1a1; color:#fff;} 
.paging .btn {display:inline-block; vertical-align:top;}
.paging .btn a {display:block; width:28px; height:28px; margin:0 -1px; text-indent:-9999px;} 
.paging .first {background:url('/dbimage/main/WebData/homeimg/sub/btn_first.gif') no-repeat 0 0;}
.paging .prev {margin-right:1px !important; border-left:1px solid #e7e5e5; background:url('/dbimage/main/WebData/homeimg/sub/btn_prev.gif') no-repeat 0 0;}
.paging .next {margin-right:1px !important;border-right:1px solid #e7e5e5; background:url('/dbimage/main/WebData/homeimg/sub/btn_next.gif') no-repeat 0 0;}
.paging .last {background:url('/dbimage/main/WebData/homeimg/sub/btn_last.gif') no-repeat 0 0;}
.ie9 .paging .num a, .ie9 .paging strong,
.ie10 .paging .num a, .ie10 .paging strong,
.ie11 .paging .num a, .ie11 .paging strong {line-height:26px;}
.tableScroll + .paging {margin-top:-10px !important;}

/* 식단표 */
.title-1{color:#424242;font-size:20px;line-height:20px;margin-bottom:27px;}
.title-2{color:#424242;font-size:15px;padding-bottom:55px;}
.title-3{color:#fff;font-size:15px;height:45px;line-height:45px;padding-left:23px;background:#718fb6;}
.title-4{color:#424242;font-size:19px;padding-bottom:14px;padding-left:19px;}
.ul-hp{margin-bottom:29px;*zoom:1;}

.table-foodInfo-2{width:100%;margin-bottom:50px;}
.table-foodInfo-2 thead th{background:#ccdbee;border-right:1px solid #b7c5d6;color:#424242;font-size:15px;height:42px;line-height:42px;font-weight:normal;text-align:center;}
.table-foodInfo-2 thead th.title{background:#718fb6;color:#fff;border-right:none;}
.table-foodInfo-2 thead th:last-child{border-right:none;}
.table-foodInfo-2 tbody th,
.table-foodInfo-2 tbody td{border:1px solid #e8e8e8;border-top:none;line-height:25px;font-size:15px;vertical-align:middle;padding:20px 0;}
.table-foodInfo-2 tbody th{color:#718fb6;font-weight:normal;background:#fbfbfb;}
.table-foodInfo-2 tbody th .color-1{color:#424242;display:block;}
.table-foodInfo-2 tbody td{color:#424242;font-size:13px;padding-left:27px; }
.table-foodInfo-2 tbody td strong{font-size:21px;line-height:31px;}
.table-foodInfo-2 tbody td.gap{padding-left:0;text-align:center;}

.table-foodInfo-4{width:100%;margin-bottom:50px;}
.table-foodInfo-4 th{background:#ccdbee;color:#424242;font-size:15px;height:42px;line-height:42px;font-weight:normal;vertical-align:middle;padding:10px 0;text-align:center;border:1px solid #CCDBEE;}
.table-foodInfo-4 th.title{background:#ccdbee;color:#424242;font-size:15px;padding:0 0 0 24px;line-height:40px;height:40px;text-align:left;}
.table-foodInfo-4 tbody th,
.table-foodInfo-4 tbody td{border-top:none;text-align:center;line-height:25px;font-size:13px;vertical-align:middle;padding:14px 0 14px 24px;}
.table-foodInfo-4 tbody th{color:#718fb6;font-weight:normal;background:#fbfbfb;}
.table-foodInfo-4 tbody td .color-1{color:#424242;display:block;}
.table-foodInfo-4 tbody td{color:#424242;font-size:15px;background:#fbfbfb;text-align:left;border:1px solid #e8e8e8;border-top:none;border-bottom:none;}
.table-foodInfo-4 tbody td strong{font-size:31px;line-height:31px;}
.table-foodInfo-4 tbody td .color-2{color:#718fb6;font-size:15px;}
.table-foodInfo-4 tbody tr:last-child{border-bottom:1px solid #e8e8e8;}
.table-foodInfo-4 tbody td.td-gap{height:20px;border:none;border-top:1px solid #e8e8e8;}

.table_wrap{overflow:hidden}
.content_table{margin-left:-1px;width:100%;border-collapse:collapse;border-spacing:0;border-top:3px solid #ccdbee;border-bottom:1px solid #e5e5e5}
.content_table thead th{padding:10px;text-align:center;font-size:12px;color:#333;font-weight:bold;border-left:1px solid #e5e5e5;background:#f7f7f7}
.content_table tbody th{padding:10px;text-align:center;font-size:16px;color:#333;font-weight:bold;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;background:#f7f7f7; line-height:23px;}
.content_table tbody td{padding:10px;text-align:center;font-size:12px;color:#666;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.content_table tbody .left{text-align:left}
.content_table p{font-size:12px}
.content_table b{font-weight:bold}

/* comment */
.satisBox.comment{width:100%;margin-top:30px;}
.satisBox{border-bottom:1px solid #f2f2f2; height:130px;}
.satisBox .topBox{padding:8px 8px 0 8px;background:#fff;}
.satisBox .textBox,
.satisBox .starBox{padding:10px 3.03%;}
.satisBox .textBox{padding-top:12px;}
.satisBox .textBox p{line-height:20px;}
.satisBox .textBox .strong{font-size:16px;font-weight:bold;line-height:24px;}
.satisBox .starBox{margin-top:15px;border-top:1px dashed #e2e2e2;}
.satisBox .starBox span{line-height:20px;display:inline-block;padding:5px 0;}
.satisBox .starBox .btn .mobileOn{display:none;}
.satisBox .starBox .btn .mobileOff{padding: 0;}
.satisBox .starBox .btn .mobileOff input{margin-left:0px;margin-top:9px;display:inline-block;}
.satisBox .starBox span:first-child{margin-left:0px;}
.satisBox .starBox span.btn{margin-left:5px;}
.satisBox .starBox span img,
.satisBox .starBox span input{vertical-align:middle; border:0px solid #fff}
.satisBox .starBox input{margin:1px 4px 0 0;}
.satisBox .starBox input:first-child{margin-left:0;}

.satisBox .starBox .inBox{width:90%;float:left;}
.satisBox .starBox .btn{width:10%;float:left;}
.satisBox .starBox .radio{padding-left:10%;}
.satisBox .starBox .inBox .radio span{width:19%;}
.satisBox .starBox .subj div{float:left;}
.satisBox .starBox .subj .text{width:12%;height:89px;}
.satisBox .starBox .subj .txar{width:87%;}
.satisBox .starBox .subj .txar textarea{width:100%;margin-top:10px;}
.satisBox .starBox .subj .text label{display:inline-block;font-weight:bold;padding: 30px 0;}

/* comment쓰기 */
.comment01_view_content_data{width:100%;padding:20px 20px 20px 20px;border:1px solid #d3d3d3; background:#ededed}
.comment01_view_content_title{display:inline-block;font-size:26px;font-weight:bold;line-height:32px; color:#222222;}
.view_content_data_detail{border-top:0px solid #837266;}
.view_content_data_detail .list{padding:0px 0 0px 0;border-bottom:0px solid #c1c1c1; line-height:0}
.view_content_data_detail .comment01_dl dt{width:40%; padding-top:0px; }

.view_content_data_detail dl dt{float:left;line-height:13px; font-size:14px}
.comment01_view_content_info_li .content_info{border:1px solid #c1c1c1; overflow:auto;height: auto; font-size:13px;line-height:20px;letter-spacing:0px;padding-right:14px; background:#fff; padding:20px 20px 20px 20px;}
.score_go_btn_area{float:right;position:relative;top:-5px;margin-left:10px;display:inline-block;padding:0px;background-color:#ffffff;border:1px solid #bbbbbb;}
.score_go_btn_area a{color:#222222;font-weight:normal;font-size:12px;line-height:10px}
.score_go_btn_area a:link{color:#222222;}
.score_go_btn_area a:hover{color:#222222;}
.score_go_btn_area a:visited {color:#222222;}


.comment02_list{margin-left:0px; margin-top:100px; *zoom:1;}
.comment02_list:after{content:""; display:block; clear:both;}
.comment02_list > li{float:left; width:100%; height:50px; padding-right:0px; margin-left:0x; margin-top:10px; background-color:#fff; border-bottom:1px solid #dcdcdc; *zoom:1;}

.comment02_list dt{float:left; width:13%; padding-top:12px; padding-left:25px; font-weight:bold}
.comment02_list dt .title_dt{display:block; margin-top:5px; font-size:14px;}
.comment02_list dt .title_dt strong{margin-right:4px; font-size:11px; color:#ff5050;}
.comment02_list dd{float:left; width:87%; padding-top:12px; font-size:16px; color:#70696b; line-height:34px;}
.comment02_list .input_text, .comment02_list .input_select{height:32px; line-height:32px;}
.comment02_list .file_input_textbox{width:254px; height:32px;}
.comment02_list .file_input_div, .comment02_list .file_input_button{width:70px; height:28px; background-color:#666; border:1px solid #666; color:#fff; line-height:23px; font-size:11px;}
.comment02_list .file_input_div{margin-left:3px;}

.file_field_area{*zoom:1;}
.file_field_area:after{content:""; display:block; clear:both;}
.file_input_textbox{float:left; width:85%; height:22px; padding-left:1%; background-color:#fff; border:1px solid #adadaf;font-size:13px; color:#9b9b9b; line-height:22px;}
.file_input_div{float:left; width:10%; height:24px; border:1px solid #afafb1; margin-left:5px; overflow:hidden; cursor:pointer; position:relative;}
.file_input_button{display:block; width:100%; height:24px; background-color:#f5f5f5; 
  font-size:13px; color:#777; cursor:pointer; position:absolute; top:0px; text-align:center; line-height:24px;
}
.file_input_hidden{margin-left:5px; font-size:45px; cursor:pointer; position:absolute; right:0px; top:0px; opacity:0; 
  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;
}
