A:link { 
	color: #2F2F2F; 
	text-decoration: none;
}
A:visited { 
	color: #2F2F2F; 
	text-decoration: none;
}
A:active { 
	color: #2F2F2F; 
	text-decoration: none;
}
A:hover { 
	color: #E90000; 
	text-decoration: none;
}

body {
	scrollbar-3dlight-color:#595959;
	scrollbar-arrow-color:#7F7F7F;
	scrollbar-face-color:#DFDFDF;
	scrollbar-highlight-color:#FFFFF;
	scrollbar-shadow-color:#595959;
	scrollbar-base-color:#CFCFCF;
	scrollbar-darkshadow-color:#FFFFFF;
}

table {
	font-family: "돋움";
	font-size: 9pt;
	line-height: 140%;
	color: #2f2f2f;
}
input {
	font-size: 9pt;
	color: #010101;
	padding-top: 2px;
	padding-left: 2px;
	border: 1px solid #cacaca;
	padding-right: 2px;
}
.input_no input
{
    BORDER-WIDTH: 0px;
	BACKGROUND-COLOR: transparent;
	/*selector-dummy : expression(this.hideFocus=true);*/
}
.input_no
{
    BORDER-WIDTH: 0px;
	BACKGROUND-COLOR: transparent;
	/*selector-dummy : expression(this.hideFocus=true);*/
}
DropDownList {
	padding-top: 2px;
	padding-left: 2px;
	border: 1px solid #cacaca;
	padding-right: 2px;
	font-size: 9pt;
}
select {
	padding-top: 2px;
	padding-left: 2px;
	border: 1px solid #cacaca;
	padding-right: 2px;
	font-size: 9pt; 
}
textarea {
	padding-top: 2px;
	padding-left: 2px;
	border: 1px solid #cacaca;
	padding-right: 2px;
	font-size: 9pt;
}
img {
	border:none;
}
.bold {
	font-weight: bold;
}
.helptxt {
	font-size: 8pt;
	color: #3399CC;
}

.FontSize8pt {
	font-size: 8pt;
}
.FontVer {
	font-family: Verdana;
	font-size: 7pt;
}
.span {
	letter-spacing: -0.1em;
}

.pad0 {
	padding: 0px;
}
.padB3 {
	padding-bottom: 3px;
}
.padL15 {
	padding-left: 15px;
}
.margmenu {
	margin-bottom: 15px;
}
.scrollbox1 {
	color: #333333;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.color898989 {
	color: #898989;
}
.colorff5400 {
	color: #ff5400;
}
.colorbf0101 {
	color: #bf0101;
}
.bbs1 {
	border: 1px solid #c0c0c0;
}
.bbs2 {
	background-image: url(/img_bbs/section_02.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.bbs3 {
	line-height: 120%;
}
.bbs4 {
	border: 1px solid #e8e8e8;
}
.bbs5 {
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.MS_content {   
    line-height:normal; 
    font-family: Arial, Verdana, sans-serif;
	overflow:auto; 
	overflow-y:  hidden;
	overflow-x: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.MS_content table{line-height:normal;font-family: Arial, Verdana, sans-serif;}
.MS_content td{line-height:normal;font-family: Arial, Verdana, sans-serif;}
.MS_content P { margin:0; padding:0; line-height:normal;font-family: Arial, Verdana, sans-serif;}
.MS_content ul{	margin-top: 0px;margin-bottom: 0px;line-height:normal;font-family: Arial, Verdana, sans-serif;}
.MS_content li{	margin-top: 0px;margin-bottom: 0px;line-height:normal;font-family: Arial, Verdana, sans-serif;}

.bbs6 {
	padding-right: 50px;
}
.bbs7 {
	font-size: 8pt;
	color: #858585;
}
.bbs8 {
	background-image: url(/img_bbs/section_03.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.bbs9 {
	font-family: Verdana;
	font-size: 8pt;
	color: #f59392;
}
.bbs10 {
	color: #858585;
}
.bbs11 {
	color: #800000;
}
.bbs12 {
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #f1f1f1;
	padding-left: 10px;
}
.bbs_8E8E8E{color:#8E8E8E;}
.moretext{ font-size:12px; color:#0482D6;  text-decoration: underline; font-weight:bold; font-family:굴림; padding: 0 0 0 0; }
.morecontents{display:block; padding:10px 0 0 0; }
.fb{ font-weight:bold;}
.PhotoLine1 {
border: 2px solid #dfdfdf;
}
.scrollbox100 { color:white;
	width: 99%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 2px;  
	scrollbar-face-color: #e8e3e7;
	scrollbar-highlight-color: #e8e3e7;
	scrollbar-shadow-color: #d0cfd3;
	scrollbar-3dlight-color: #C9C9C9;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #F7F7F7;
	scrollbar-darkshadow-color: #FFFFFF;
}



.vdn{font-family:verdana}
.box01{border:0px solid #000000;background-color:#000000;line-height:1.4}
.p10, a.p10:link, a.p10:visited, a.p10:hover, a.p10:active{font-family:tahoma, 돋움, 돋움체; font-size:11px;}
.ls{letter-spacing:-1px}
.imgborder {border:1px #C0C0C0 solid;}
.sel_on {border:2px #B0B0B0 solid;}
.sel_off {border:2px #F3F3F3 solid;}
.scr_tag {width:65px; height:22px; border:1px #C0C0C0 solid; padding:3px 0 0 0;}

/* caption 노출되지 않토록 처리 */
.dcaption {display:none;} 

.dheight_1 {width:10px;height:1px;} 
.dheight_2 {width:10px;height:2px;} 
.dheight_3 {width:10px;height:3px;} 
.dheight_10 {width:160px;height:10px;} 
.dheight_10_53 {width:35px;height:10px;}

.tListB { width:100%;height:25px;vertical-align:middle; padding-top:5px;}
.tListL {float:left;  height:25px; vertical-align:middle;float:left; width:55%;}
.tListR {float:left;  height:25px; vertical-align:middle;width:45%;}
.tListW {padding-top:5px;}
.divTable
{
            width: 100%;
            display:block;
            padding-top:5px;
            padding-bottom:5px;
            padding-right:0px;
            padding-left:0px; 
}
.divRow
{
         width: 100%; 
         display:block;
         padding-bottom:5px;
}
.divColumn
{
         float: left; 
         display:block;
}
.bbs_baord_css table,.bbs_baord_css th{ text-align:center;}
.c_wrap{position:relative;overflow:auto}
.c_left{text-align:left; bottom:0; position:absolute; left:0}
.c_right{float:right;text-align:right;}


.ico_pg {width:10px;height:9px; background-image :url('/img_bbs/ico_pg.gif') ; background-repeat:no-repeat; display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;} 
.ico_arr {width:12px;height:5px; background-image :url('/img_bbs/ico_arr.gif') ; background-repeat:no-repeat; display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;} 