<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>layout_3</title>
  <link rel="stylesheet" href="layout_3.css"/>
</head>
<body>

<div class="wrap">
  <header class="header">header</header>
  <div class="containal">
    <div class="top">
      <div class="left">
        <nav class="menu">menu</nav>
        <section class="pictures1">pictures1</section>
        <section class="pictures2">pictures2</section>
      </div>
        <section class="main">main</section>
      </div>
    </div>
    <div class="bottom">
      <section class="another">another</section>
      <section class="another1">another1</section>
      <section class="another2">another2</section>
    </div>
  <footer class="footer">footer</footer>
</div>

</body>
</html>