<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>layout_4</title>
  <link rel="stylesheet" href="layout_4.css"/>
</head>
<body>

<div class="wrap">
  <header class="header">header</header>
  <nav class="horizontalmenu">horizontalmenu</nav>
  <div class="containal">
    <section class="sidebar1">sidebar1</section>
    <div class="main">
      <section class="beforecontent">beforecontent</section>
      <section class="content">content</section>
      <section class="aftercontent">aftercontent</section>
    </div>
    <section class="sidebar2">sidebar2</section>
  </div>
  <footer class="footer">footer</footer>
</div>

</body>
</html>