<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>layout_1</title>
  <link rel="stylesheet" href="layout_1.css"/>
</head>
<body>

<div class="wrap">
  <header class="header">header</header>
  <div class="containal">
    <div class="left">
      <nav class="menu">menu</nav>
      <section class="pictures">pictures</section>
    </div>
    <div class="right">
      <section class="main">main</section>
      <section class="adverts">adverts</section>
    </div>
  </div>
  <footer class="footer">footer</footer>
</div>

</body>
</html>