<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>layout_2</title>
  <link rel="stylesheet" href="layout_2.css"/>
</head>
<body>

<div class="wrap">
  <header class="header">header</header>
  <nav class="menw-RNB">menw-RNB</nav>
  <div class="containal">
    <div class="left">
      <nav class="menu-LNB">menu-LNB</nav>
      <section class="pictures1">pictures1</section>
      <section class="pictures2">pictures2</section>
    </div>
    <div class="right">
      <div class="right1">
        <section class="main1">main1</section>
        <section class="main2">main2</section>
      </div>
      <article class="advertising">advertising</article>
    </div>
  </div>
  <footer class="footer">footer</footer>
</div>

</body>
</html>