@charset "utf-8";

/** 머리 **/

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  background:#2a2a2a;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.inner{
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.wrap{
  /*display:none;*/
}

.header{
  height: 118px;
  position: relative;
  z-index: 100;
}

.header_top{
  width: 100%;
  height: 60px;
  background-color: #E7911F;
  position: fixed;
}

.logo{
  width: 134px;
  height: 34px;
  text-indent: -99999em;
  background: url("../images/Untitled-1-07.png")no-repeat;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -27px;
}

.logolink{
  display: block;
  width: 134px;
  height: 34px;
}

.notice{
  width: 223px;
  height: 19px;
  position: absolute;
  top: 21px;
  left: 30px;
}

.notice_depth_link{
  color: white;
  float: left;
}

.notice_depth_btn{
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 30px;
}

.util{
  width: 365px;
  height: 34px;
  position: absolute;
  top: 13px;
  right: 10px;
}

.util li:last-child{
  padding-right: 0;
}

.util_depth1{
  float: left;
  padding-right: 10px;
  margin-top: 10px;
  border-right: 1px solid white;
  margin-right: 10px;
}

.util_depth1>a{
  color: white;
}

.util_depth_search{
  float: left;
  width: 31px;
  height: 31px;
}

.util_depth_btn{
  display: block;
  width: 31px;
  height: 31px;
  text-indent: -99999em;
  background: url("../images/Untitled-2-01.png")no-repeat;
  border: none;
  cursor: pointer;
}

.util_depth1_basket{
  display: block;
  width: 30px;
  height: 34px;
  text-indent: -99999em;
  background: url("../images/Untitled-2-02.png")no-repeat;
  float: left;
  margin-left: 10px;
}

.header_btm{
  width: 100%;
  height: 57px;
  position: fixed;
  top: 60px;
  background-color: white;
}

.util_sns{
  width: 147px;
  margin-top: 9px;
  float: left;
}

.util_sns_depth1{
  float: left;
}

.util_sns_link1{
  display: block;
  width: 39px;
  height: 39px;
  text-indent: -99999em;
  background: url("../images/sns-01.png")no-repeat;
  float: left;
  margin-left: 10px;
}

.util_sns_link2{
  display: block;
  width: 39px;
  height: 39px;
  text-indent: -99999em;
  background: url("../images/sns-01.png")no-repeat -46px 0 ;
  float: left;
  margin-left: 10px;
}

.util_sns_link3{
  display: block;
  width: 39px;
  height: 39px;
  text-indent: -99999em;
  background: url("../images/sns-01.png")no-repeat -93px 0 ;
  float: left;
  margin-left: 10px;
}

.gnb{
  float: left;
  margin-top: 20px;
  margin-left: 426px;
}

.gnb_depth1_item{
  float: left;
  margin-left: 20px;
}

.notice_2{
  float: right;
  margin-top: 12px;
}

.notice_link{
  display: block;
  width: 155px;
  height: 35px;
}

/** �Ӹ� **/

/** ���� **/

section,
footer{
  background-color: #F4F4F4;
}

.containal{
  width: 1200px;
  margin: 0 auto;
}

.containal img{
  display:block;
}

.banner{
  float: left;
  position: relative;
}

.event-light-link1{
  display: block;
  width: 600px;
  height: 600px;
}

.event-light-link1 img{
  display:block;
  width:100%;
  height:100%;
}

.btn-pagebox{
  position: absolute;
  top: 10px;
  left: 300px;
  margin-left: -39px;
}

.btn-page{
  display: inline-block;
  width: 13px;
  height: 13px;
  text-indent: -99999em;
  background: url(../images/w_visual_btnBg.png)no-repeat -22px -81px;
  margin-left: 4px;
}

.btn-page.current{
  background-position:0 -81px;
}

.banner-img2{
  float: left;
  display: block;
}

.banner-img2_link1{
  display: block;
  position:relative;
  width: 400px;
  height: 600px;
}

.banner-img2_link1 img{
  display:block;
  width:100%;
  height:100%;
}

.banner-img2_link2{
  display: block;
  width: 200px;
  height: 300px;
}

.banner-img2_link3 img{
  display:block;
}

.banner-video{
  float: left;
  width: 600px;
  height: 360px;
}

.banner_cub{
  position: relative;
  width: 400px;
  height: 360px;
}

.btn-pagebox2{
  position: absolute;
  top: 10px;
  left: 200px;
  margin-left: -39px;
}

.btn-page2{
  display: inline-block;
  width: 13px;
  height: 13px;
  text-indent: -99999em;
  background: url(../images/w_visual_btnBg.png)no-repeat -22px -81px;
  margin-left: 4px;
}

.btn-page2.current{
  background-position:0 -81px;
}

.banner_cub_list1{
  width: 400px;
  height: 360px;
  background-color: #E7911F;
}

.banner_cub_list1>strong,
.banner_cub_list2>strong{
  display: block;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 20px 20px;
  padding-top: 100px;
}

.banner_cub_list1>p, em,
.banner_cub_list2>p, em{
  color: white;
  font-size: 20px;
  margin: 30px 0 0 20px;
}

.banner_cub_list1>em,
.banner_cub_list2>em{
  display: block;
  margin-top: 100px;
  margin-left: 250px;
}

.banner_cub_list2{
  width: 400px;
  height: 360px;
  background-color: #B31F23;
}

.banner-img2_font{
  float: left;
  display: block;
  text-align: center;
  width: 500px;
  height: 200px;
  padding: 80px 50px 80px 50px;
  background-color: #B31F23;
}

.banner-img2_font>h3{
  color: #E7911F;
  font-size: 25px;
  margin-bottom: 20px;
}

.banner-img2_font>strong{
  display: block;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-img2_font>p{
  color: white;
  font-size: 20px;
}

.link{
  display: block;
  width: 400px;
}

.link2{
  display: block;
  width: 200px;
}

/** ���� **/

/** �ٸ� **/

.information{
  padding-top: 50px;
  text-align: center;
}

.information>h2{
  text-indent: -99999em;
  background: url("../images/logo2-01.png")no-repeat;
  width: 76px;
  height: 79px;
  margin: 0 auto;
}

.information_logo{
  display: block;
  width: 76px;
  height: 79px;
}

.information_text{
  width: 400px;
  margin: 20px auto;
}

.information_text_item{
  float: left;
  padding-right: 10px;
  border-right: 1px solid #333;
  margin-right: 10px;
}

.information_text_item:last-child{
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}

.information_text_link{
  display: block;
}

.address{
  padding: 20px 0;
  border-top: 1px solid #888;
  width: 630px;
  margin: 0 auto;
}

.address_item{
  float: left;
  padding-right: 10px;
  border-right: 1px solid #aaa;
  margin-right: 10px;
}

.address1{
  width: 530px;
  margin: 0 auto;
}

.address_item:last-child{
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}

.address2{
  width: 600px;
  margin: 10px auto 0;
}


/** 다리 **/

/* loader */

.loader-wrap{
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  z-index:999999;
}

.loader {
  perspective: 800px;
  perspective-origin: 50% -400px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
}

.loader-text{
  position:relative;
  top:120px;
  font-size:20px;
  color:rgba(255,255,255,0.8);
  text-shadow:2px 2px #aaa;
}

.cube {
  position: relative;
  width: 100px;
  transform-style: preserve-3d;
}
.cube div {
  position: absolute;
  width: 100px;
  height: 100px;

  box-shadow: inset 0 0 30px rgba(255,255,255,0.8);
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}
.right {
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
}
.left {
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
}
.top {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
}
.bottom {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
}
.front {
  transform: translateZ(50px);
}

@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

.cube {
  animation: spin 5s infinite linear;
}

/* intro movie */

.intro{
  display:none;

  position:absolute;
  width:100%;

  top:50%;

  z-index:99999;
}

/* main page banner */


.banner-wrap {
  width:600px;
  height:600px;

  perspective: 2500px;
  /*perspective-origin: 50% -400px;*/

  float:left;
  overflow:hidden;
}

.banner-control{
  width:100%;
  height:35px;
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.8);
}

.banner {
  width: 100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  transform:translateZ(-300px) rotateY(0deg);
  transition:transform 1s;
}

.banner img{
  width:100%;
  display:block;
}

.banner li {
  position: absolute;
  width: 600px;
  height: 600px;

  /*box-shadow: inset 0 0 30px rgba(125,125,125,0.8);*/
}

.banner .banner-1 {
  transform: translateZ(300px);
}
.banner .banner-3 {
  transform: translateZ(-300px) rotateY(180deg);
}
.banner .banner-2 {
  transform: rotateY(-270deg) translateX(300px);
  transform-origin: top right;
}
.banner .banner-4 {
  transform: rotateY(270deg) translateX(-300px);
  transform-origin: center left;
}



.banner-wrap2 {
  width:400px;
  height:360px;

  perspective: 2500px;

  float:left;
  overflow:hidden;
}

.banner_cub {
  width: 100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  transform:translateZ(-200px) rotateY(0deg);
  transition:transform 1s;
}

.banner_cub li {
  position: absolute;
  width: 400px;
  height: 360px;
}

.banner_cub .banner-1 {
  transform: translateZ(200px);
}
.banner_cub .banner-3 {
  transform: translateZ(-200px) rotateY(180deg);
}
.banner_cub .banner-2 {
  transform: rotateY(-270deg) translateX(200px);
  transform-origin: top right;
}
.banner_cub .banner-4 {
  transform: rotateY(270deg) translateX(-200px);
  transform-origin: center left;
}







